@import "reset";
@import "navbar";
@import "sidebar";
@import "guide_text";
@import "hero";
@import "method";
@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

::selection {
  background-color: $blue200;
  color: rgb(56, 56, 56);
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem calc((100vw - 1400px) / 2);
}
