@import "reset";
@import "navbar";
@import "sidebar";

html {
  scroll-behavior: smooth;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem calc((100vw - 1400px) / 2);
}

.page-content {
  font-family: $text-ff;
  color: $text-clr;

  max-width: 70ch;
  margin: 36px 4rem;

  h1,
  h2,
  h3 {
    font-family: $headings-ff;
    font-weight: 400;
  }

  p {
    line-height: 1.9;
  }

  h1 {
    color: $blue300;
    font-size: 2.25rem;
  }

  h2 {
    color: $blue300;
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 1.5rem;
  }
}
